# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/
dist/
outputs/
cli-app/*.js
cli-app/*.d.ts
cli-app/*.json

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
.env

##############################
# sketch plugin related below
##############################

# build artifacts
*.sketchplugin

