import UIKit
import SnapKit

class {{container.name}}ViewController: UIViewController {

    override func viewDidLoad() {
        super.viewDidLoad()

        /* 1つのartbaordに必要なデータを収集 */
        // typeが Container のものを取得
        // containerIdが上記 Containerのもの(現状viewかbutton)を取得

        /* 上記で取得したviewらを1つづつ貼っていく */
        // parentIdがあれば、当該idのviewを探し出し、それにaddSubView
        // parentIdがなければ、viewControllerのviewにaddSubView

        // Do any additional setup after loading the view.
        {{#views}}
        self.view.backgroundColor = UIColor.white
        let btn = ContainedButton(frame: CGRect(x: {{rect.x}}, y: {{rect.y}}, width: {{rect.width}}, height: {{rect.height}}))
        btn.setTitle("test", for: .normal)
        self.view.addSubview(btn)
        btn.snp.makeConstraints { (make) -> Void in
            make.width.height.equalTo(50)
            make.center.equalTo(self.view)
        }

        {{/views}}
    }
}
